services:
  web:
    build:
      context: .
    ports:
      - "500:5000"

  acceptance-tests:
    build:
      context: .
    entrypoint: ["/bin/bash", "-lc"]
    command: ["python -m unittest discover -s tests -p api_tests.py -v"]
    environment:
      - TARGET_URL=http://web:5000/
    depends_on:
      - web
    profiles:
      - acceptance