<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/ssr">Realty</a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/ssr">Realties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ssr/about">About</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <div style="color: white;">
        user = {{ request.user }}
        user_id = {{ request.user.id }}
        </div>

        {% if request.user %}
          <li class="nav-item">
            <span class="navbar-text me-3">
              {{ session.get("username") }}
            </span>
          </li>
          

          <li class="nav-item">
            <a class="nav-link" href="/ssr/profile">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ssr/logout">Logout</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/ssr/login">Login</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/ssr/register">Register</a>
          </li>
        {% endif %}

      </ul>

    </div>
  </div>
</nav>